@charset "utf-8";
/* CSS Document */

/* p{
	font-weight:bold;
	font-size:30px;
}*/

#doan1{
	font=weight:bold;
	font-size:20;
	font-style:italic;
}

#doan2{
	font-weight:bold;
	font-size:20;
	color:red;
}



